<div class="wrapper">
    <nav class="side">
        <div class="sidebar-header">
            <h3>Luca<span>.</span></h3>
        </div>

        <ul class="list-unstyled components">
            <li><a><img src="assets/home.svg">Inicio</a></li>
            <li><a><img src="assets/video.svg">Mis cursos</a></li>
            <li><a><img src="assets/quizz.png">Quizzes</a></li>
            <li><a><img src="assets/circles.png">Mi plan de estudios</a></li>
            <!--Manually setting the active link since we don't have the other screens-->
            <li><a class="active">
                <img src="assets/chat.png">
                Comunidad</a></li>
            <li><a><img src="assets/center.png">Centro de ayuda</a></li>
        </ul>
    </nav>
</div>
